In [6]:
import pandas as pd
import ast
import openpyxl

In [7]:
import pandas as pd

# Load the Excel file into a DataFrame
df_banglore = pd.read_excel("C:/Users/sandh/Downloads/bangalore_cars.xlsx", engine='openpyxl')


# Display the DataFrame
print(df_banglore.head())

                                      new_car_detail  \
0  {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
1  {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
2  {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
3  {'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...
4  {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...

                                    new_car_overview  \
0  {'heading': 'Car overview', 'top': [{'key': 'R...
1  {'heading': 'Car overview', 'top': [{'key': 'R...
2  {'heading': 'Car overview', 'top': [{'key': 'R...
3  {'heading': 'Car overview', 'top': [{'key': 'R...
4  {'heading': 'Car overview', 'top': [{'key': 'R...

                                     new_car_feature  \
0  {'heading': 'Features', 'top': [{'value': 'Pow...
1  {'heading': 'Features', 'top': [{'value': 'Pow...
2  {'heading': 'Features', 'top': [{'value': 'Pow...
3  {'heading': 'Features', 'top': [{'value': 'Pow...
4  {'heading': 'Features', 'top': [{'value': 'Pow...

                                       new_car_specs  \
0  {'heading': 'Specifications', 'top': [{'key': ...
1  {'heading': 'Specifications', 'top': [{'key': ...
2  {'heading': 'Specifications', 'top': [{'key': ...
3  {'heading': 'Specifications', 'top': [{'key': ...
4  {'heading': 'Specifications', 'top': [{'key': ...

                                           car_links
0  https://www.cardekho.com/used-car-details/used...
1  https://www.cardekho.com/buy-used-car-details/...
2  https://www.cardekho.com/used-car-details/used...
3  https://www.cardekho.com/buy-used-car-details/...
4  https://www.cardekho.com/used-car-details/used...

In [ ]:
import pandas as pd
import ast

# Function to flatten the dictionary with unique keys
def flatten_dict(d, parent_key='', separator='_'):
    items = []
    for key, value in d.items():
        new_key = f'{parent_key}{separator}{key}' if parent_key else key
        if isinstance(value, dict):
            items.extend(flatten_dict(value, new_key, separator=separator).items())
        elif isinstance(value, list):
            for i, item in enumerate(value):
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', separator=separator).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, value))
    return dict(items)

# Columns to process
columns_to_process = ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']

# Initialize an empty list to store the flattened data
flattened_data = []

# Iterate through the DataFrame and flatten the necessary columns
for index, row in df_banglore.iterrows():
    flattened_row = {}
    for column in columns_to_process:
        # Check if column value is not empty before processing
        if pd.notna(row[column]):
            # Convert the text data into a Python dictionary using ast.literal_eval
            unstd_data = ast.literal_eval(row[column])
            # Flatten dictionary and append column name to avoid overwriting
            flattened_row.update(flatten_dict(unstd_data, parent_key=column))
    flattened_data.append(flattened_row)

# Create a DataFrame from the flattened data
std_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
if 'car_links' in df_banglore.columns:
    std_df['car_links'] = df_banglore['car_links']

# Add the 'City' column
std_df['City'] = 'Bangalore'

# Save the merged DataFrame to a CSV file
output_data = "std_bangalore_cars.csv"
std_df.to_csv(output_data, index=False)

# Display the merged DataFrame
df1 = pd.read_csv(output_data)

In [9]:
df1

,new_car_detail_it,new_car_detail_ft,new_car_detail_bt,new_car_detail_km,new_car_detail_transmission,new_car_detail_ownerNo,new_car_detail_owner,new_car_detail_oem,new_car_detail_model,new_car_detail_modelYear,...,new_car_specs_data_1_list_8_value,new_car_feature_data_2_list_23_value,new_car_feature_data_2_list_24_value,new_car_feature_data_2_list_25_value,new_car_feature_data_2_list_26_value,new_car_feature_data_0_list_32_value,new_car_feature_data_0_list_33_value,new_car_feature_data_0_list_34_value,car_links,City
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Bangalore
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1476,0,Diesel,SUV,"1,56,039",Manual,2,2nd Owner,Toyota,Toyota Fortuner,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1477,0,Petrol,Sedan,"56,000",Manual,2,2nd Owner,Maruti,Maruti SX4,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1478,0,Petrol,Hatchback,"42,000",Manual,2,2nd Owner,Honda,Honda Brio,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1479,0,Diesel,Hatchback,"93,003",Manual,1,1st Owner,Hyundai,Hyundai i20,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore
1480,0,Petrol,Hatchback,"36,000",Automatic,2,2nd Owner,Hyundai,Hyundai Grand i10,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Bangalore

In [10]:
import pandas as pd

# Load the Excel file into a DataFrame
df_delhi = pd.read_excel("C:/Users/sandh/Downloads/delhi_cars.xlsx", engine='openpyxl')


# Display the DataFrame
print(df_delhi.head())

                                      new_car_detail  \
0  {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...
1  {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
2  {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
3  {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
4  {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...

                                    new_car_overview  \
0  {'heading': 'Car overview', 'top': [{'key': 'R...
1  {'heading': 'Car overview', 'top': [{'key': 'R...
2  {'heading': 'Car overview', 'top': [{'key': 'R...
3  {'heading': 'Car overview', 'top': [{'key': 'R...
4  {'heading': 'Car overview', 'top': [{'key': 'R...

                                     new_car_feature  \
0  {'heading': 'Features', 'top': [{'value': 'Pow...
1  {'heading': 'Features', 'top': [{'value': 'Pow...
2  {'heading': 'Features', 'top': [{'value': 'Pow...
3  {'heading': 'Features', 'top': [{'value': 'Pow...
4  {'heading': 'Features', 'top': [{'value': 'Pow...

                                       new_car_specs  \
0  {'heading': 'Specifications', 'top': [{'key': ...
1  {'heading': 'Specifications', 'top': [{'key': ...
2  {'heading': 'Specifications', 'top': [{'key': ...
3  {'heading': 'Specifications', 'top': [{'key': ...
4  {'heading': 'Specifications', 'top': [{'key': ...

                                           car_links
0  https://www.cardekho.com/used-car-details/used...
1  https://www.cardekho.com/buy-used-car-details/...
2  https://www.cardekho.com/used-car-details/used...
3  https://www.cardekho.com/buy-used-car-details/...
4  https://www.cardekho.com/used-car-details/used...

In [13]:

# Function to flatten the dictionary with unique keys
def flatten_dict(d, parent_key='', separator='_'):
    items = []
    for key, value in d.items():
        new_key = f'{parent_key}{separator}{key}' if parent_key else key
        if isinstance(value, dict):
            items.extend(flatten_dict(value, new_key, separator=separator).items())
        elif isinstance(value, list):
            for i, item in enumerate(value):
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', separator=separator).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, value))
    return dict(items)

# Columns to process
columns_to_process = ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']

# Initialize an empty list to store the flattened data
flattened_data = []

# Iterate through the DataFrame and flatten the necessary columns
for index, row in df_delhi.iterrows():  # Replaced df_banglore with df_delhi
    flattened_row = {}
    for column in columns_to_process:
        # Check if column value is not empty before processing
        if pd.notna(row[column]):
            # Convert the text data into a Python dictionary using ast.literal_eval
            unstd_data = ast.literal_eval(row[column])
            # Flatten dictionary and append column name to avoid overwriting
            flattened_row.update(flatten_dict(unstd_data, parent_key=column))
    flattened_data.append(flattened_row)

# Create a DataFrame from the flattened data
std_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
if 'car_links' in df_delhi.columns:  # Replaced df_banglore with df_delhi
    std_df['car_links'] = df_delhi['car_links']

# Add the 'City' column
std_df['City'] = 'Delhi'  # Replace Bangalore with Delhi

# Save the merged DataFrame to a CSV file
output_data = "std_delhi_cars.csv"  # Change the file name to reflect the city
std_df.to_csv(output_data, index=False)

# Display the merged DataFrame
df2 = pd.read_csv(output_data)
df2

,new_car_detail_it,new_car_detail_ft,new_car_detail_bt,new_car_detail_km,new_car_detail_transmission,new_car_detail_ownerNo,new_car_detail_owner,new_car_detail_oem,new_car_detail_model,new_car_detail_modelYear,...,new_car_feature_data_3_list_45_value,new_car_feature_data_3_list_46_value,new_car_feature_data_3_list_47_value,new_car_feature_data_4_list_16_value,new_car_feature_data_4_list_17_value,new_car_feature_data_4_list_18_value,new_car_feature_data_4_list_19_value,new_car_feature_data_4_list_20_value,car_links,City
0,0,Diesel,SUV,"10,000",Automatic,1,1st Owner,Kia,Kia Seltos,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Delhi
1,0,Petrol,SUV,"57,437",Manual,2,2nd Owner,Hyundai,Hyundai Creta,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Delhi
2,0,Petrol,SUV,"8,000",Automatic,1,1st Owner,Mercedes-Benz,Mercedes-Benz GLC,2020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Delhi
3,0,Petrol,Hatchback,"28,151",Manual,2,2nd Owner,Maruti,Maruti Swift,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Delhi
4,0,Petrol,SUV,"60,000",Manual,1,1st Owner,Hyundai,Hyundai Creta,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,0,Petrol,Sedan,"60,000",Automatic,1,1st Owner,Honda,Honda City,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Delhi
1481,0,Petrol,SUV,"20,000",Manual,1,1st Owner,Kia,Kia Sonet,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Delhi
1482,0,Petrol,Sedan,"60,000",Manual,1,1st Owner,Hyundai,Hyundai Verna,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Delhi
1483,0,Diesel,SUV,"38,000",Manual,1,1st Owner,Hyundai,Hyundai Creta,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Delhi
1484,0,Diesel,SUV,"7,000",Automatic,0,0th Owner,MG,MG Gloster,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Delhi

In [12]:
import pandas as pd

# Load the Excel file into a DataFrame
df_hyderabad = pd.read_excel("C:/Users/sandh/Downloads/hyderabad_cars.xlsx", engine='openpyxl')


# Display the DataFrame
print(df_hyderabad.head())

                                      new_car_detail  \
0  {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
1  {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
2  {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
3  {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
4  {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...

                                    new_car_overview  \
0  {'heading': 'Car overview', 'top': [{'key': 'R...
1  {'heading': 'Car overview', 'top': [{'key': 'R...
2  {'heading': 'Car overview', 'top': [{'key': 'R...
3  {'heading': 'Car overview', 'top': [{'key': 'R...
4  {'heading': 'Car overview', 'top': [{'key': 'R...

                                     new_car_feature  \
0  {'heading': 'Features', 'top': [{'value': 'Pow...
1  {'heading': 'Features', 'top': [{'value': 'Pow...
2  {'heading': 'Features', 'top': [{'value': 'Pow...
3  {'heading': 'Features', 'top': [{'value': 'Pow...
4  {'heading': 'Features', 'top': [{'value': 'Pow...

                                       new_car_specs  \
0  {'heading': 'Specifications', 'top': [{'key': ...
1  {'heading': 'Specifications', 'top': [{'key': ...
2  {'heading': 'Specifications', 'top': [{'key': ...
3  {'heading': 'Specifications', 'top': [{'key': ...
4  {'heading': 'Specifications', 'top': [{'key': ...

                                           car_links
0  https://www.cardekho.com/used-car-details/used...
1  https://www.cardekho.com/buy-used-car-details/...
2  https://www.cardekho.com/used-car-details/used...
3  https://www.cardekho.com/buy-used-car-details/...
4  https://www.cardekho.com/used-car-details/used...

In [14]:
import pandas as pd
import ast

# Function to flatten the dictionary with unique keys
def flatten_dict(d, parent_key='', separator='_'):
    items = []
    for key, value in d.items():
        new_key = f'{parent_key}{separator}{key}' if parent_key else key
        if isinstance(value, dict):
            items.extend(flatten_dict(value, new_key, separator=separator).items())
        elif isinstance(value, list):
            for i, item in enumerate(value):
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', separator=separator).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, value))
    return dict(items)

# Columns to process
columns_to_process = ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']

# Initialize an empty list to store the flattened data
flattened_data = []

# Iterate through the DataFrame and flatten the necessary columns
for index, row in df_hyderabad.iterrows():  # Replaced df_delhi with df_hyderabad
    flattened_row = {}
    for column in columns_to_process:
        # Check if column value is not empty before processing
        if pd.notna(row[column]):
            # Convert the text data into a Python dictionary using ast.literal_eval
            unstd_data = ast.literal_eval(row[column])
            # Flatten dictionary and append column name to avoid overwriting
            flattened_row.update(flatten_dict(unstd_data, parent_key=column))
    flattened_data.append(flattened_row)

# Create a DataFrame from the flattened data
std_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
if 'car_links' in df_hyderabad.columns:  
    std_df['car_links'] = df_hyderabad['car_links']

# Add the 'City' column
std_df['City'] = 'Hyderabad'  # Replace Delhi with Hyderabad

# Save the merged DataFrame to a CSV file
output_data = "std_hyderabad_cars.csv"  # Change the file name to reflect the city
std_df.to_csv(output_data, index=False)

# Display the merged DataFrame
df3 = pd.read_csv(output_data)
df3

,new_car_detail_it,new_car_detail_ft,new_car_detail_bt,new_car_detail_km,new_car_detail_transmission,new_car_detail_ownerNo,new_car_detail_owner,new_car_detail_oem,new_car_detail_model,new_car_detail_modelYear,...,new_car_feature_data_4_list_17_value,new_car_feature_data_4_list_18_value,new_car_specs_data_1_list_8_key,new_car_specs_data_1_list_8_value,new_car_feature_data_0_list_30_value,new_car_feature_data_0_list_31_value,new_car_feature_data_3_list_38_value,new_car_feature_data_3_list_39_value,car_links,City
0,0,Petrol,Hatchback,"20,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Polo,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Hyderabad
1,0,Petrol,Hatchback,"85,582",Manual,2,2nd Owner,Hyundai,Hyundai EON,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Hyderabad
2,0,Petrol,SUV,"10,000",Manual,1,1st Owner,Hyundai,Hyundai Venue,2023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Hyderabad
3,0,Petrol,Hatchback,"50,750",Manual,1,1st Owner,Maruti,Maruti Baleno,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Hyderabad
4,0,Petrol,SUV,"10,000",Automatic,1,1st Owner,Mahindra,Mahindra Thar,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Hyderabad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Mahindra,Mahindra XUV500,2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Hyderabad
1479,0,Diesel,Sedan,"50,000",Automatic,1,1st Owner,Jaguar,Jaguar XF,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Hyderabad
1480,0,Diesel,Sedan,"1,20,000",Automatic,3,3rd Owner,BMW,BMW 5 Series,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Hyderabad
1481,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Tata,Tata Nexon,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Hyderabad
1482,0,Diesel,MUV,"1,00,000",Manual,1,1st Owner,Toyota,Toyota Innova,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Hyderabad

In [15]:

# Load the Excel file into a DataFrame
df_jaipur = pd.read_excel("C:/Users/sandh/Downloads/jaipur_cars.xlsx", engine='openpyxl')


# Display the DataFrame
print(df_jaipur.head())

                                      new_car_detail  \
0  {'it': 0, 'ft': 'Diesel', 'bt': 'Hatchback', '...
1  {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
2  {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
3  {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
4  {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...

                                    new_car_overview  \
0  {'heading': 'Car overview', 'top': [{'key': 'R...
1  {'heading': 'Car overview', 'top': [{'key': 'R...
2  {'heading': 'Car overview', 'top': [{'key': 'R...
3  {'heading': 'Car overview', 'top': [{'key': 'R...
4  {'heading': 'Car overview', 'top': [{'key': 'R...

                                     new_car_feature  \
0  {'heading': 'Features', 'top': [{'value': 'Pow...
1  {'heading': 'Features', 'top': [{'value': 'Pow...
2  {'heading': 'Features', 'top': [{'value': 'Pow...
3  {'heading': 'Features', 'top': [{'value': 'Pow...
4  {'heading': 'Features', 'top': [{'value': 'Pow...

                                       new_car_specs  \
0  {'heading': 'Specifications', 'top': [{'key': ...
1  {'heading': 'Specifications', 'top': [{'key': ...
2  {'heading': 'Specifications', 'top': [{'key': ...
3  {'heading': 'Specifications', 'top': [{'key': ...
4  {'heading': 'Specifications', 'top': [{'key': ...

                                           car_links
0  https://www.cardekho.com/used-car-details/used...
1  https://www.cardekho.com/buy-used-car-details/...
2  https://www.cardekho.com/used-car-details/used...
3  https://www.cardekho.com/buy-used-car-details/...
4  https://www.cardekho.com/used-car-details/used...

In [16]:
import pandas as pd
import ast

# Function to flatten the dictionary with unique keys
def flatten_dict(d, parent_key='', separator='_'):
    items = []
    for key, value in d.items():
        new_key = f'{parent_key}{separator}{key}' if parent_key else key
        if isinstance(value, dict):
            items.extend(flatten_dict(value, new_key, separator=separator).items())
        elif isinstance(value, list):
            for i, item in enumerate(value):
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', separator=separator).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, value))
    return dict(items)

# Columns to process
columns_to_process = ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']

# Initialize an empty list to store the flattened data
flattened_data = []

# Iterate through the DataFrame and flatten the necessary columns
for index, row in df_jaipur.iterrows():  # Replaced df_hyderabad with df_jaipur
    flattened_row = {}
    for column in columns_to_process:
        # Check if column value is not empty before processing
        if pd.notna(row[column]):
            # Convert the text data into a Python dictionary using ast.literal_eval
            unstd_data = ast.literal_eval(row[column])
            # Flatten dictionary and append column name to avoid overwriting
            flattened_row.update(flatten_dict(unstd_data, parent_key=column))
    flattened_data.append(flattened_row)

# Create a DataFrame from the flattened data
std_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
if 'car_links' in df_jaipur.columns:  # Replaced df_hyderabad with df_jaipur
    std_df['car_links'] = df_jaipur['car_links']

# Add the 'City' column
std_df['City'] = 'Jaipur'  # Replace Hyderabad with Jaipur

# Save the merged DataFrame to a CSV file
output_data = "std_jaipur_cars.csv"  # Change the file name to reflect the city
std_df.to_csv(output_data, index=False)

# Display the merged DataFrame
df4 = pd.read_csv(output_data)
df4

,new_car_detail_it,new_car_detail_ft,new_car_detail_bt,new_car_detail_km,new_car_detail_transmission,new_car_detail_ownerNo,new_car_detail_owner,new_car_detail_oem,new_car_detail_model,new_car_detail_modelYear,...,new_car_feature_data_2_list_25_value,new_car_feature_data_4_list_14_value,new_car_specs_data_1_list_9_key,new_car_specs_data_1_list_9_value,new_car_specs_data_1_list_10_key,new_car_specs_data_1_list_10_value,new_car_specs_data_1_list_11_key,new_car_specs_data_1_list_11_value,car_links,City
0,0,Diesel,Hatchback,"1,20,000",Manual,2,2nd Owner,Hyundai,Hyundai i20,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Jaipur
1,0,Petrol,Hatchback,"66,951",Manual,1,1st Owner,Maruti,Maruti Swift,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Jaipur
2,0,Petrol,Hatchback,"80,000",Automatic,2,2nd Owner,Maruti,Maruti Celerio,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Jaipur
3,0,Petrol,Hatchback,"44,392",Manual,1,1st Owner,Hyundai,Hyundai Grand i10,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Jaipur
4,0,Petrol,Hatchback,"40,000",Automatic,1,1st Owner,Maruti,Maruti Wagon R,2016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Jaipur
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Chevrolet,Chevrolet Beat,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Jaipur
1116,0,Petrol,Hatchback,"70,000",Manual,1,1st Owner,Maruti,Maruti Alto,2007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Jaipur
1117,0,Petrol,SUV,"20,000",Manual,1,1st Owner,Renault,Renault Kiger,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Jaipur
1118,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Alto,2009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Jaipur
1119,0,Petrol,Hatchback,"80,000",Manual,1,1st Owner,Maruti,Maruti Baleno,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Jaipur

In [17]:

# Load the Excel file into a DataFrame
df_kolkata = pd.read_excel("C:/Users/sandh/Downloads/kolkata_cars.xlsx", engine='openpyxl')


# Display the DataFrame
print(df_kolkata.head())

                                      new_car_detail  \
0  {'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...
1  {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
2  {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
3  {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
4  {'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...

                                    new_car_overview  \
0  {'heading': 'Car overview', 'top': [{'key': 'R...
1  {'heading': 'Car overview', 'top': [{'key': 'R...
2  {'heading': 'Car overview', 'top': [{'key': 'R...
3  {'heading': 'Car overview', 'top': [{'key': 'R...
4  {'heading': 'Car overview', 'top': [{'key': 'R...

                                     new_car_feature  \
0  {'heading': 'Features', 'top': [{'value': 'Pow...
1  {'heading': 'Features', 'top': [{'value': 'Pow...
2  {'heading': 'Features', 'top': [{'value': 'Pow...
3  {'heading': 'Features', 'top': [{'value': 'Pow...
4  {'heading': 'Features', 'top': [{'value': 'Pow...

                                       new_car_specs  \
0  {'heading': 'Specifications', 'top': [{'key': ...
1  {'heading': 'Specifications', 'top': [{'key': ...
2  {'heading': 'Specifications', 'top': [{'key': ...
3  {'heading': 'Specifications', 'top': [{'key': ...
4  {'heading': 'Specifications', 'top': [{'key': ...

                                           car_links
0  https://www.cardekho.com/used-car-details/used...
1  https://www.cardekho.com/buy-used-car-details/...
2  https://www.cardekho.com/used-car-details/used...
3  https://www.cardekho.com/buy-used-car-details/...
4  https://www.cardekho.com/used-car-details/used...

In [18]:
import pandas as pd
import ast

# Function to flatten the dictionary with unique keys
def flatten_dict(d, parent_key='', separator='_'):
    items = []
    for key, value in d.items():
        new_key = f'{parent_key}{separator}{key}' if parent_key else key
        if isinstance(value, dict):
            items.extend(flatten_dict(value, new_key, separator=separator).items())
        elif isinstance(value, list):
            for i, item in enumerate(value):
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', separator=separator).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, value))
    return dict(items)

# Columns to process
columns_to_process = ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']

# Initialize an empty list to store the flattened data
flattened_data = []

# Iterate through the DataFrame and flatten the necessary columns
for index, row in df_kolkata.iterrows():  # Replaced df_jaipur with df_kolkata
    flattened_row = {}
    for column in columns_to_process:
        # Check if column value is not empty before processing
        if pd.notna(row[column]):
            # Convert the text data into a Python dictionary using ast.literal_eval
            unstd_data = ast.literal_eval(row[column])
            # Flatten dictionary and append column name to avoid overwriting
            flattened_row.update(flatten_dict(unstd_data, parent_key=column))
    flattened_data.append(flattened_row)

# Create a DataFrame from the flattened data
std_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
if 'car_links' in df_kolkata.columns:  # Replaced df_jaipur with df_kolkata
    std_df['car_links'] = df_kolkata['car_links']

# Add the 'City' column
std_df['City'] = 'Kolkata'  # Replace Jaipur with Kolkata

# Save the merged DataFrame to a CSV file
output_data = "std_kolkata_cars.csv"  # Change the file name to reflect the city
std_df.to_csv(output_data, index=False)

# Display the merged DataFrame
df5 = pd.read_csv(output_data)
df5

,new_car_detail_it,new_car_detail_ft,new_car_detail_bt,new_car_detail_km,new_car_detail_transmission,new_car_detail_ownerNo,new_car_detail_owner,new_car_detail_oem,new_car_detail_model,new_car_detail_modelYear,...,new_car_feature_data_4_list_16_value,new_car_feature_data_4_list_17_value,new_car_feature_data_4_list_18_value,new_car_feature_data_0_list_33_value,new_car_feature_data_3_list_41_value,new_car_feature_data_3_list_42_value,new_car_feature_data_3_list_43_value,new_car_feature_data_3_list_44_value,car_links,City
0,0,Petrol,Sedan,"70,000",Automatic,3,3rd Owner,Toyota,Toyota Camry,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
1,0,Petrol,Hatchback,"23,981",Manual,1,1st Owner,Datsun,Datsun RediGO,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Kolkata
2,0,Petrol,SUV,"7,100",Automatic,1,1st Owner,Renault,Renault Kiger,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
3,0,Petrol,Hatchback,"71,574",Manual,2,2nd Owner,Hyundai,Hyundai i20,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Kolkata
4,0,Diesel,SUV,"50,000",Automatic,2,2nd Owner,Audi,Audi Q3,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,0,Petrol,Hatchback,"10,000",Manual,1,1st Owner,Maruti,Maruti Celerio,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
1377,0,Petrol,Hatchback,"1,20,000",Manual,1,1st Owner,Maruti,Maruti Alto 800,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
1378,0,Petrol,Sedan,"50,000",Automatic,3,3rd Owner,Mercedes-Benz,Mercedes-Benz C-Class,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
1379,0,Petrol,Hatchback,"40,000",Manual,1,1st Owner,Maruti,Maruti Ritz,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata
1380,0,Diesel,SUV,"1,20,000",Manual,2,2nd Owner,Renault,Renault Duster,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Kolkata

In [19]:
# Load the Excel file into a DataFrame
df_chennai = pd.read_excel("C:/Users/sandh/Downloads/chennai_cars.xlsx", engine='openpyxl')


# Display the DataFrame
print(df_chennai.head())

                                      new_car_detail  \
0  {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
1  {'it': 0, 'ft': 'Petrol', 'bt': 'Minivans', 'k...
2  {'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...
3  {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...
4  {'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...

                                    new_car_overview  \
0  {'heading': 'Car overview', 'top': [{'key': 'R...
1  {'heading': 'Car overview', 'top': [{'key': 'R...
2  {'heading': 'Car overview', 'top': [{'key': 'R...
3  {'heading': 'Car overview', 'top': [{'key': 'R...
4  {'heading': 'Car overview', 'top': [{'key': 'R...

                                     new_car_feature  \
0  {'heading': 'Features', 'top': [{'value': 'Pow...
1  {'heading': 'Features', 'top': [{'value': 'Low...
2  {'heading': 'Features', 'top': [{'value': 'Pow...
3  {'heading': 'Features', 'top': [{'value': 'Pow...
4  {'heading': 'Features', 'top': [{'value': 'Pow...

                                       new_car_specs  \
0  {'heading': 'Specifications', 'top': [{'key': ...
1  {'heading': 'Specifications', 'top': [{'key': ...
2  {'heading': 'Specifications', 'top': [{'key': ...
3  {'heading': 'Specifications', 'top': [{'key': ...
4  {'heading': 'Specifications', 'top': [{'key': ...

                                           car_links
0  https://www.cardekho.com/used-car-details/used...
1  https://www.cardekho.com/buy-used-car-details/...
2  https://www.cardekho.com/used-car-details/used...
3  https://www.cardekho.com/buy-used-car-details/...
4  https://www.cardekho.com/used-car-details/used...

In [21]:
import pandas as pd
import ast

# Function to flatten the dictionary with unique keys
def flatten_dict(d, parent_key='', separator='_'):
    items = []
    for key, value in d.items():
        new_key = f'{parent_key}{separator}{key}' if parent_key else key
        if isinstance(value, dict):
            items.extend(flatten_dict(value, new_key, separator=separator).items())
        elif isinstance(value, list):
            for i, item in enumerate(value):
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, f'{new_key}_{i}', separator=separator).items())
                else:
                    items.append((f'{new_key}_{i}', item))
        else:
            items.append((new_key, value))
    return dict(items)

# Columns to process
columns_to_process = ['new_car_detail', 'new_car_overview', 'new_car_feature', 'new_car_specs']

# Initialize an empty list to store the flattened data
flattened_data = []

# Iterate through the DataFrame and flatten the necessary columns
for index, row in df_chennai.iterrows():  # Replaced df_kolkata with df_chennai
    flattened_row = {}
    for column in columns_to_process:
        # Check if column value is not empty before processing
        if pd.notna(row[column]):
            # Convert the text data into a Python dictionary using ast.literal_eval
            unstd_data = ast.literal_eval(row[column])
            # Flatten dictionary and append column name to avoid overwriting
            flattened_row.update(flatten_dict(unstd_data, parent_key=column))
    flattened_data.append(flattened_row)

# Create a DataFrame from the flattened data
std_df = pd.DataFrame(flattened_data)

# Process 'car_links' column (if not a nested structure, just copy as is)
if 'car_links' in df_chennai.columns:  # Replaced df_kolkata with df_chennai
    std_df['car_links'] = df_chennai['car_links']

# Add the 'City' column
std_df['City'] = 'Chennai'  # Replaced Kolkata with Chennai

# Save the merged DataFrame to a CSV file
output_data = "std_chennai_cars.csv"  # Changed the file name to reflect the city
std_df.to_csv(output_data, index=False)

# Display the merged DataFrame
df6 = pd.read_csv(output_data)
df6

,new_car_detail_it,new_car_detail_ft,new_car_detail_bt,new_car_detail_km,new_car_detail_transmission,new_car_detail_ownerNo,new_car_detail_owner,new_car_detail_oem,new_car_detail_model,new_car_detail_modelYear,...,new_car_feature_data_4_list_16_value,new_car_feature_data_4_list_17_value,new_car_feature_data_4_list_18_value,new_car_feature_data_0_list_33_value,new_car_feature_data_3_list_44_value,new_car_feature_data_0_list_34_value,new_car_feature_data_0_list_35_value,new_car_feature_data_0_list_36_value,car_links,City
0,0,Petrol,SUV,"20,000",Automatic,1,1st Owner,Kia,Kia Sonet,2022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Chennai
1,0,Petrol,Minivans,"20,687",Manual,1,1st Owner,Maruti,Maruti Eeco,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Chennai
2,0,Petrol,SUV,"30,000",Manual,1,1st Owner,Nissan,Nissan Magnite,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Chennai
3,0,Petrol,Hatchback,"59,247",Manual,1,1st Owner,Hyundai,Hyundai i10,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/buy-used-car-details/...,Chennai
4,0,Petrol,Hatchback,"50,000",Manual,1,1st Owner,Honda,Honda Jazz,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Chennai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,0,Petrol,Hatchback,"42,891",Automatic,1,1st Owner,Maruti,Maruti Swift,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Chennai
1415,0,Diesel,SUV,"59,100",Manual,1,1st Owner,Renault,Renault Duster,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Chennai
1416,0,Petrol,SUV,"55,913",Automatic,1,1st Owner,Tata,Tata Nexon,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Chennai
1417,0,Diesel,SUV,"65,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Tiguan,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Chennai
1418,0,Diesel,Sedan,"60,000",Automatic,1,1st Owner,BMW,BMW 3 Series GT,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cardekho.com/used-car-details/used...,Chennai

In [27]:
# List of DataFrames to concatenate
dataframes = [df1, df2, df3, df4, df5, df6]

# Concatenate DataFrames
combined_df = pd.concat(dataframes, ignore_index=True)

# Display the combined DataFrame
print(combined_df)

      new_car_detail_it new_car_detail_ft new_car_detail_bt new_car_detail_km  \
0                     0            Petrol         Hatchback          1,20,000
1                     0            Petrol               SUV            32,706
2                     0            Petrol         Hatchback            11,949
3                     0            Petrol             Sedan            17,794
4                     0            Diesel               SUV            60,000
...                 ...               ...               ...               ...
8402                  0            Petrol         Hatchback            42,891
8403                  0            Diesel               SUV            59,100
8404                  0            Petrol               SUV            55,913
8405                  0            Diesel               SUV            65,000
8406                  0            Diesel             Sedan            60,000

     new_car_detail_transmission  new_car_detail_ownerNo new_car_detail_owner  \
0                         Manual                       3            3rd Owner
1                         Manual                       2            2nd Owner
2                         Manual                       1            1st Owner
3                         Manual                       1            1st Owner
4                         Manual                       1            1st Owner
...                          ...                     ...                  ...
8402                   Automatic                       1            1st Owner
8403                      Manual                       1            1st Owner
8404                   Automatic                       1            1st Owner
8405                   Automatic                       1            1st Owner
8406                   Automatic                       1            1st Owner

     new_car_detail_oem new_car_detail_model  new_car_detail_modelYear  ...  \
0                Maruti       Maruti Celerio                      2015  ...
1                  Ford        Ford Ecosport                      2018  ...
2                  Tata           Tata Tiago                      2018  ...
3               Hyundai        Hyundai Xcent                      2014  ...
4                Maruti   Maruti SX4 S Cross                      2015  ...
...                 ...                  ...                       ...  ...
8402             Maruti         Maruti Swift                      2018  ...
8403            Renault       Renault Duster                      2018  ...
8404               Tata           Tata Nexon                      2018  ...
8405         Volkswagen    Volkswagen Tiguan                      2017  ...
8406                BMW      BMW 3 Series GT                      2019  ...

      new_car_feature_data_1_list_17_value  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
...                                    ...
8402                                   NaN
8403                                   NaN
8404                                   NaN
8405                                   NaN
8406                                   NaN

     new_car_feature_data_0_list_35_value  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
...                                   ...
8402                                  NaN
8403                                  NaN
8404                                  NaN
8405                                  NaN
8406                                  NaN

     new_car_feature_data_0_list_36_value  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
...                                   ...
8402                                  NaN
8403                                  NaN
8404                                  NaN
8405                                  NaN
8406                                  NaN

     new_car_feature_data_3_list_45_value  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
...                                   ...
8402                                  NaN
8403                                  NaN
8404                                  NaN
8405                                  NaN
8406                                  NaN

      new_car_feature_data_3_list_46_value  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
...                                    ...
8402                                   NaN
8403                                   NaN
8404                                   NaN
8405                                   NaN
8406                                   NaN

      new_car_feature_data_3_list_47_value  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
...                                    ...
8402                                   NaN
8403                                   NaN
8404                                   NaN
8405                                   NaN
8406                                   NaN

     new_car_feature_data_1_list_18_value  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
...                                   ...
8402                                  NaN
8403                                  NaN
8404                                  NaN
8405                                  NaN
8406                                  NaN

     new_car_feature_data_1_list_19_value  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     NaN
4                                     NaN
...                                   ...
8402                                  NaN
8403                                  NaN
8404                                  NaN
8405                                  NaN
8406                                  NaN

     new_car_feature_data_1_list_20_value new_car_feature_data_1_list_21_value
0                                     NaN                                  NaN
1                                     NaN                                  NaN
2                                     NaN                                  NaN
3                                     NaN                                  NaN
4                                     NaN                                  NaN
...                                   ...                                  ...
8402                                  NaN                                  NaN
8403                                  NaN                                  NaN
8404                                  NaN                                  NaN
8405                                  NaN                                  NaN
8406                                  NaN                                  NaN

[8407 rows x 325 columns]

In [24]:
combined_df.to_csv("cardata_new.csv",index=False)

In [25]:
all_data=pd.read_csv('cardata_new.csv')

C:\Users\sandh\AppData\Local\Temp\ipykernel_71480\188290998.py:1: DtypeWarning: Columns (128,285,286,287,288,289,296,300,301,302,304,305,308,309,310,312,315,316,317,318,319,320,321,322,323,324) have mixed types. Specify dtype option on import or set low_memory=False.
  all_data=pd.read_csv('cardata_new.csv')

In [26]:
all_data

,new_car_detail_it,new_car_detail_ft,new_car_detail_bt,new_car_detail_km,new_car_detail_transmission,new_car_detail_ownerNo,new_car_detail_owner,new_car_detail_oem,new_car_detail_model,new_car_detail_modelYear,...,new_car_feature_data_1_list_17_value,new_car_feature_data_0_list_35_value,new_car_feature_data_0_list_36_value,new_car_feature_data_3_list_45_value,new_car_feature_data_3_list_46_value,new_car_feature_data_3_list_47_value,new_car_feature_data_1_list_18_value,new_car_feature_data_1_list_19_value,new_car_feature_data_1_list_20_value,new_car_feature_data_1_list_21_value
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8402,0,Petrol,Hatchback,"42,891",Automatic,1,1st Owner,Maruti,Maruti Swift,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8403,0,Diesel,SUV,"59,100",Manual,1,1st Owner,Renault,Renault Duster,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8404,0,Petrol,SUV,"55,913",Automatic,1,1st Owner,Tata,Tata Nexon,2018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8405,0,Diesel,SUV,"65,000",Automatic,1,1st Owner,Volkswagen,Volkswagen Tiguan,2017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8406,0,Diesel,Sedan,"60,000",Automatic,1,1st Owner,BMW,BMW 3 Series GT,2019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN